@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    /* background-color: #FF900E; */
    background: rgba(255, 144, 14, 0.1);
    padding: 1rem 0;
    /* height: 120vh; */
}
.container{
    width: 75%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}
nav h2{
    font-size: 2rem;
}
ul{
    display: flex;
}
ul li{
    list-style-type: none;
    margin-left: 1rem;
}
ul li a{
    text-decoration: none;
    color: black;
}
.banner{
    text-align: center;
    padding-top: 1rem;
}
.btn{
    padding: 12px 24px;
    border: 0;
    cursor: pointer;
}
.btn-primary{
    background-color: rgb(255, 77, 0);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin: 0.5rem 0 1.5rem 0;
}
img{
    width: 100%;
}
.banner .title{
    font-size: 2.5rem;
}
.banner .desc{
    font-size: 1rem;
    font-weight: 200;
    padding: 1rem 0 0.5rem 0;
}

/* featured section */
.feature{
    width: 75%;
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.featured-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.featured-image img{
    height: 342px;
    width: 342px;
}
.featured-title{
    font-size: 2rem;
    font-weight: 400;
}
.feature p{
    font-size: 0.9rem;
    font-weight: 300;
    padding: 1.2rem 0;
    line-height: 1.6rem;
}

/* about section */
.about{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.details h3{
    font-size: 2rem;
    font-weight: 600;
    border-left: 4px solid #FF900E;
    padding-left: 0.5rem;
}
.details .desc{
    font-size: 0.9rem;
    font-weight: 300;
    padding: 1rem 0;
}
.card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
    margin: 0.8rem 0;
}
.card p{
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0.6rem 0 0 0;
}






















@media screen and (max-width: 576px) {
    ul, nav, .feature, .about{
        flex-direction: column;
    }
    .featured-image{
        grid-template-columns: repeat(1, 1fr);
    }
}