@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    /* background-color: #FF900E; */
    background: rgba(255, 144, 14, 0.1);
    padding: 1rem 0;
    /* height: 120vh; */
}
.container{
    width: 75%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}
nav h2{
    font-size: 2rem;
}
ul{
    display: flex;
}
ul li{
    list-style-type: none;
    margin-left: 1rem;
}
ul li a{
    text-decoration: none;
    color: black;
}
.banner{
    text-align: center;
    padding-top: 1rem;
}
.btn{
    padding: 12px 24px;
    border: 0;
    cursor: pointer;
}
.btn-primary{
    background-color: rgb(255, 77, 0);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin: 0.5rem 0 1.5rem 0;
}
img{
    width: 100%;
}
.banner .title{
    font-size: 2.5rem;
}
.banner .desc{
    font-size: 1rem;
    font-weight: 200;
    padding: 1rem 0 0.5rem 0;
}

/* featured section */
.feature{
    width: 75%;
    margin: 0 auto;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.featured-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.featured-image img{
    height: 20rem;
    width: 20rem;
}
.featured-title{
    font-size: 2rem;
    font-weight: 400;
}
.feature p{
    font-size: 0.9rem;
    font-weight: 300;
    padding: 1.2rem 0;
    line-height: 1.6rem;
}

/* about section */
.about{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.details h3{
    font-size: 2rem;
    font-weight: 600;
    border-left: 4px solid #FF900E;
    padding-left: 0.5rem;
}
.details .desc{
    font-size: 0.9rem;
    font-weight: 300;
    padding: 1rem 0;
}
.details .card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
    margin: 0.8rem 0;
}
.card-details{
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0.6rem 0 0 0;
}

/* facts section */
.facts{
    width: 75%;
    margin: 0 auto;
    padding: 5rem 0;
}
.cards-container{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding-top: 3rem;
}
.cards-container .card{
    text-align: center;
    border: 2px solid #FF900E;
    padding: 2rem 1rem;
}
.cards-container .card h4{
    font-weight: 800;
    font-size: 1.3rem;
}
.cards-container .card p{
    font-weight: bold;
    font-size: 0.9rem;
    color: #757575;
}
.cards-container .card img{
    width: 45.22px;
    height: 45.22px;
}
.facts .title, .sponsers h3{
    font-size: 2.5rem;
    font-weight: 600;
}
.facts .desc, .sponsers p{
    font-size: 0.9rem;
    font-weight: 300;
    padding: 1rem 0;
}

.hover-effect:hover{
    transform: translateY(-1rem);
    transition: all 0.7s linear;
}
/* testimonial */
.testimonial{
    width: 75%;
    margin: 0 auto;
    padding: 5rem 0;
}
.testimonial h3{
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 5rem;
    text-align: center;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.cards .card{
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
}
.cards .card img{
    width: 50%;
    padding-bottom: 1rem;
}
.cards .card p{
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.6rem;
    padding-bottom: 1rem;
}
.fas{
    color: orange;
}
/* sponsers */
.sponsers{
    width: 75%;
    margin: 0 auto;
    padding: 2rem 0 5rem 0;
}
.sponser{
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.sponser-details{
    text-align: center;
}
.sponser img{
    filter: grayscale(1);
}
.sponser img:hover{
    filter: grayscale(0);
    cursor: pointer;
}

/* footer */

footer{
    padding: 2rem;
    background-color: rgba(255, 144, 14, 0.1);
}
footer p{
    text-align: center;
    font-size: 0.9rem;
    font-weight: 300;
}






@media screen and (max-width: 576px) {
    ul, nav, .feature, .about, .cards-container, .sponser{
        flex-direction: column;
    }
    .featured-image, .cards{
        grid-template-columns: repeat(1, 1fr);
    }
}